
   
body {
  margin: 0;
  padding: 0;
  background:black;

  text-align: center;
}
.title{

  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: wheat;
  font-family: 'Bigelow Rules';
  
}


/* search */

.search-box {
  border: none;
  outline: none;
  padding: 10px;
  width: 300px;
  line-height: 30px;
  margin-bottom: 30px;
}

::placeholder {
  color: red;
  text-align: center;
  font-size: large;
}

/* card */
.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

/* card-list */

.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
